h3::before{
    content:"Despre noi:";
    background-color: gray;
    font-weight:bold;
    font-family: Dubai;
    font-size:24px;
}
h3::after{
    content:"Vă mulțumim pentru atenție!";
    font-weight:bold;
    font-size:24px;
}
body {
    background-image: url("bkg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.oferta_centrare{
    text-align: center;
}

.centrare{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
body{
    background-color: azure;
}
h1{
    background-color: black;
    color: white;
    font-family: Bahnschrift;
    font-size: 24px;
    margin-top: 0px;
    text-align: center;
    border: solid;
    border-color: darkred;
}
main{
    width: 80%;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.dropbtn {
    background-color: Gray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: width 2s, height 4s; /* Added transition properties */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

#clock {
    text-align: center;
    font-size: 24px;
}


.dropdown:hover .dropbtn {
    background-color: darkred;
}